body{
    margin: 0;
    padding: 0;
}

/*title and nav*/

.title{
    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    color: green;
    margin: 5px 0 0 0;
    position:absolute;
    width: 100%;
}

#logo1{
    float:left;
    height: 136.2px;
    border-radius: 0 0 65px 0;
}

.top{
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding-bottom: 10px;
}

.nav{
    width: 100%;
    text-align: center;
    margin-top: 105px;
    position:absolute;
}

a{
    font-size: 20px;
    font-family: monospace;
    font-style: normal;
    padding: 0 50px 0 50px;
    text-decoration: none;
    color: black;
    border: solid black 1px;
    margin: 0;
    background-color: yellow;
    border-radius: 5px;
}

a:hover{
    text-decoration: underline black;
    font-weight: bold;
}

.active{
    text-decoration: underline black;
    font-weight: bold;
    background-color: #ADFF2F;
}

/*home-page*/

.mainhome{
    text-align:center;
    margin-top: 165px;
    position: absolute;
    width: 80%;
    margin-left: 10%;
}
#eple1{
    height: 524.2px;
    border-radius: 10px 0 0 10px;
}

#logo{
    height: 524.2px;
}

#eple2{
    height: 524.2px;
    border-radius: 0 10px 10px 0;
}

/*about us-page*/

.aboutmain{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 165px;
    position: absolute;
}

h2{
    font-family: monospace;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
}

p{
    font-family: monospace;
    font-style: normal;
    font-size: 20px;
    padding: 0 100px 0 100px;
}















